.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.text {
    font-size: 31px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 323px;
}
